# Exploratory Data Analysis

In [5]:
import pandas as pd
from utils import geohash

In [17]:
%matplotlib inline
import matplotlib.pyplot as plt
import gmplot

In [7]:
DATA_PATH = 'data'
train = pd.read_csv('data/traffic-management/training.csv'.format(DATA_PATH))

## Data Fields Description

| Field     | Description                                                                                                                                               |
|-----------|-----------------------------------------------------------------------------------------------------------------------------------------------------------|
| geohash6  | geohash level 6                                                                                                                                           |
| day       | day, where the value indicates the sequential order and not a particular day of the month                                                                 |
| timestamp | start time of 15-minute intervals, in the following format:   <hour>:<minute>, where hour ranges from 0 to 23 and minute is either one of (0, 15, 30, 45) |
| demand    | aggregated demand normalised to be in the range [0,1]                                                                                                     |

In [8]:
train.head()

  geohash6  day timestamp    demand
0   qp03wc   18      20:0  0.020072
1   qp03pn   10     14:30  0.024721
2   qp09sw    9      6:15  0.102821
3   qp0991   32       5:0  0.088755
4   qp090q   15       4:0  0.074468

In [9]:
train.shape

(4206321, 4)

In [27]:
%%time
train['lat_long'] = train['geohash6'].apply(lambda x: geohash.decode(x))
train['lat'] = train['lat_long'].apply(lambda x: x[0])
train['long'] = train['lat_long'].apply(lambda x: x[1])
train = train.drop(['lat_long'], axis=1)

Wall time: 27.1 s

In [10]:
train.head()

  geohash6  day timestamp    demand
0   qp03wc   18      20:0  0.020072
1   qp03pn   10     14:30  0.024721
2   qp09sw    9      6:15  0.102821
3   qp0991   32       5:0  0.088755
4   qp090q   15       4:0  0.074468

In [11]:
train_agg = train.copy()
train_agg['count'] = 1
train_agg = train_agg.groupby('geohash6').count()[['count']]
train_agg = train_agg.reset_index()

In [12]:
train_agg.head()
train_agg['lat_long'] = train_agg['geohash6'].apply(lambda x: geohash.decode(x))
train_agg['lat'] = train_agg['lat_long'].apply(lambda x: x[0])
train_agg['long'] = train_agg['lat_long'].apply(lambda x: x[1])
train_agg = train_agg.drop(['lat_long', 'geohash6'], axis=1)

In [16]:
train_agg.head()

   count       lat       long
0    577 -5.484924  90.653687
1     89 -5.479431  90.653687
2      2 -5.468445  90.653687
3      7 -5.462952  90.653687
4    106 -5.457458  90.653687

In [18]:
latitude_list = list(train_agg['lat'].values)
longitude_list = list(train_agg['long'].values)

In [21]:
gmap3 = gmplot.GoogleMapPlotter(-5.484924, 90.653687, 13)

In [25]:
# scatter method of map object  
# scatter points on the google map 
gmap3.scatter(latitude_list, longitude_list, '# FF0000', 
                              size = 40, marker = False ) 
  
# Plot method Draw a line in 
# between given coordinates 
gmap3.heatmap(latitude_list, longitude_list)

In [26]:
gmap3.draw('map_plot.html')

In [29]:
safety_labels = pd.read_csv('data/safety/safety/labels/part-00000-e9445087-aa0a-433b-a7f6-7f4c19d78ad6-c000.csv')

In [30]:
safety_labels

           bookingID  label
0       111669149733      0
1       335007449205      1
2       171798691856      0
3      1520418422900      0
4       798863917116      0
5       283467841567      0
6       231928234141      0
7       188978561143      0
8      1194000908346      0
9       274877906944      1
10     1099511627969      0
11      970662609018      0
12      463856467983      0
13     1357209665706      1
14      335007449091      0
15      541165879318      0
16     1649267441739      0
17     1571958030499      0
18     1675037245443      0
19      841813590179      1
20     1700807049377      1
21     1417339207762      0
22      335007449265      0
23      137438953500      0
24     1657857376302      0
25      798863917231      0
26      893353197579      0
27       60129542163      0
28      584115552303      0
29      678604832930      1
...              ...    ...
19988   463856468105      0
19989   876173328528      1
19990             18      1
19991    42949673080      0
19992   231928233989      1
19993   738734374949      1
19994   300647710771      0
19995  1503238553671      1
19996   180388626448      0
19997  1065151889534      1
19998   661424963641      1
19999   146028888192      0
20000  1288490188821      0
20001   773094113323      0
20002   755914244202      0
20003   249108103207      0
20004  1039382085748      1
20005   979252543556      0
20006  1022202216564      0
20007   197568495694      0
20008   154618822673      0
20009   541165879450      0
20010   231928234043      0
20011   154618822667      0
20012   558345748558      0
20013   429496729754      0
20014   154618822713      0
20015   979252543488      0
20016  1657857376309      0
20017   558345748643      1

[20018 rows x 2 columns]

In [32]:
feats = pd.read_csv('data/safety/safety/features/part-00000-e6120af0-10c2-4248-97c4-81baf4304e5c-c000.csv')

In [33]:
feats.head()

,bookingID,Accuracy,Bearing,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z,second,Speed
0,1202590843006,3.000,353.0,1.228867,8.900100,3.986968,0.008221,0.002269,-0.009966,1362.0,0.000000
1,274877907034,9.293,17.0,0.032775,8.659933,4.737300,0.024629,0.004028,-0.010858,257.0,0.190000
2,884763263056,3.000,189.0,1.139675,9.545974,1.951334,-0.006899,-0.015080,0.001122,973.0,0.667059
3,1073741824054,3.900,126.0,3.871543,10.386364,-0.136474,0.001344,-0.339601,-0.017956,902.0,7.913285
4,1056561954943,3.900,50.0,-0.112882,10.550960,-1.560110,0.130568,-0.061697,0.161530,820.0,20.419409